---
import { SITE_TITLE } from '@consts'
import GeneralLayout from '@layouts/GeneralLayout.astro'
import { getCollection } from 'astro:content'
import PostCard from '@components/PostCard.astro'
import urlencode from '@utils/urlencode'

export async function getStaticPaths() {
	return [{ params: { lang: 'en' } }, { params: { lang: 'ko' } }]
}

const { lang } = Astro.params
const posts = (await getCollection('blog'))
	.filter(
		(post) =>
			!post.data.isDraft &&
			post.data.language == lang &&
			post.data.series !== undefined &&
			post.data.seriesNum === 1,
	)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<GeneralLayout
	title={SITE_TITLE}
	description={'Series Page for DEVACA Blog'}
	otherLang={lang == 'en' ? 'ko' : 'en'}
>
	<main>
		<section>
			<ul class="m-0 flex list-none flex-wrap gap-2 p-0 md:gap-8">
				{
					posts.map((post) => (
						<PostCard
							href={`/${lang}/series/${urlencode(post.data.series)}/`}
							title={post.data.series}
						/>
					))
				}
			</ul>
		</section>
	</main>
</GeneralLayout>
