---
import { SITE_TITLE } from '@consts'

const today = new Date()
---

<div class="pb-[80px]"></div>
<footer
	class="absolute bottom-0 top-auto mt-auto grid h-[80px] w-full justify-items-center border-t border-slate-400/30 bg-slate-200 py-2 text-center text-slate-800 dark:bg-slate-800 dark:text-slate-200"
>
	&copy; {today.getFullYear()}
	{SITE_TITLE}. All rights reserved.
	<div
		class="decoration-none flex flex-row gap-x-3 text-slate-700 hover:text-slate-800 dark:text-slate-200 dark:hover:text-slate-300"
	>
		<a href="https://github.com/DEVACA" target="_blank">
			<span class="sr-only">Go to {SITE_TITLE}'s GitHub repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" class="h-8 w-8"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
		<a
			href="/rss"
			class="my-auto stroke-slate-700 hover:stroke-slate-800 dark:stroke-slate-200 dark:hover:stroke-slate-300"
		>
			<span class="sr-only">Go to RSS page for {SITE_TITLE}'s Blog</span>
			<svg
				viewBox="0 0 24 24"
				width="35"
				height="35"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
					<path
						d="M7 18C7 18.5523 6.55228 19 6 19C5.44772 19 5 18.5523 5 18C5 17.4477 5.44772 17 6 17C6.55228 17 7 17.4477 7 18Z"
						stroke-width="2"></path>
					<path
						d="M11 19C11 15.6863 8.31371 13 5 13"
						stroke-width="2"
						stroke-linecap="round"></path>
					<path
						d="M15 19C15 13.4772 10.5228 9 5 9"
						stroke-width="2"
						stroke-linecap="round"></path>
					<path
						d="M19 19C19 11.268 12.732 5 5 5"
						stroke-width="2"
						stroke-linecap="round"></path>
				</g></svg
			>
		</a>
	</div>
</footer>
