---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className } = Astro.props

const { pathname } = Astro.url
const subpath = pathname.split('/').slice(1)
const check = (chkStr: string) => href?.toString().includes(chkStr) != (subpath[1]?.toLowerCase() == chkStr)
const isActive = !(check('about') || check('search') || check('series') || check('tags'))
---

<a href={href} class:list={[className, { active: isActive }, "transition-transform transform hover:scale-105 hover:text-gray-700 dark:hover:text-gray-200 text-black dark:text-white active:font-bold active:underline"]}>
	<slot />
</a>
<style>
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
