---
const { href, className } = Astro.props

const currentPath = Astro.url.pathname.split('/')[2]
const check = (chkStr: string) =>
	href?.toString().includes(chkStr) != (currentPath?.toLowerCase() == chkStr)
const isActive = !(check('about') || check('series') || check('tags'))
---

<a
	href={href}
	class={`${className} transform text-black ${isActive ? 'underline' : 'no-underline'} transition-transform hover:scale-105 hover:text-gray-700 dark:text-white dark:hover:text-gray-200`}
>
	<slot />
</a>
