---
import HeaderLink from '@components/HeaderLink.astro'
import SocialLinks from '@components/SocialLinks.astro'
import LOGO from '@components/LOGO.astro'
import { SITE_TITLE } from '@consts'
---

<header class="sticky top-0 w-full bg-white dark:bg-gray-800 drop-shadow-sm px-2 py-2">
	<nav class="flex w-full h-full justify-between items-center gap-x-4 mx-auto">
		<a href={"/"+Astro.currentLocale} class="grid">
			<LOGO width="26px" height="26px" />
			<p class="mb-0 text-sm font-bold text-black dark:text-white" >{SITE_TITLE}</p>
		</a>
		<HeaderLink href=`/${Astro.currentLocale}`>Blog</HeaderLink>
		<HeaderLink href=`/${Astro.currentLocale}/about`>About</HeaderLink>
		<HeaderLink href=`/${Astro.currentLocale}/paper`>Paper</HeaderLink>
		<SocialLinks />
	</nav>
</header>