---
const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)!
const nonLocalPath = subpath.slice(1).join('/')
---
<div class="flex justify-center items-center">
	<div class="text-gray-900 dark:text-gray-100">
        <div class="relative w-full group">
            <button class="py-2.5 px-3 w-full md:text-sm text-site bg-transparent border border-dimmed  focus:border-brand focus:outline-none focus:ring-0 peer flex items-center justify-between rounded font-semibold uppercase">{Astro.currentLocale}</button>
            <div
                class="absolute z-[99] top-[110%] left-[50%] translate-x-[-87.5%] rounded-md overflow-hidden shadow-lg min-w-[200px] w-max peer-focus:visible peer-focus:opacity-100 opacity-0 invisible duration-200 p-1 bg-gray-100 dark:bg-gray-800  border border-dimmed text-xs md:text-sm">
                <a
                    href=`/en/${nonLocalPath}`
                    class=" w-full block cursor-pointer hover:bg-white dark:hover:bg-gray-900 dark:bg-gray-800 hover:text-link px-3 py-2 rounded-md text-black dark:text-white hover:text-gray-700 dark:hover:text-gray-200">
                    EN</a>
                <a
                    href=`/ko/${nonLocalPath}`
                    class=" w-full block cursor-pointer hover:bg-white dark:hover:bg-gray-900 dark:bg-gray-800 hover:text-link px-3 py-2 rounded-md text-black dark:text-white hover:text-gray-700 dark:hover:text-gray-200">
                    KO
                </a>
        </div>
    </div>
</div>
