---
const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)!
const nonLocalPath = subpath.slice(1).join('/')
const { otherLang = '' } = Astro.props
---

<a
	href=`/${otherLang}/${nonLocalPath}`
	class="align-center m-0 flex h-10 w-10 justify-center rounded-full bg-slate-200 p-0 font-bold uppercase text-black dark:bg-slate-800 dark:text-white"
>
	<p class="m-auto">
		{otherLang}
	</p>
</a>
