---
const { href, title, date } = Astro.props
---

<li class="text-md relative mb-2 flex w-full items-center">
	<svg
		class="mr-2 h-4 w-4 fill-slate-400"
		viewBox="0 0 32 32"
		xmlns="http://www.w3.org/2000/svg"
		><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
			id="SVGRepo_tracerCarrier"
			stroke-linecap="round"
			stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
			><path
				d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"
			></path></g
		></svg
	>
	<a
		href={href}
		class="underline"
		style="
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 65%;
    "
	>
		{title}
	</a>
	<span class="absolute right-2 ml-1 text-xs text-indigo-400">
		{date}
	</span>
</li>
