---
interface Props {
    series: string
    seriesNum: number
}
const { series, seriesNum } = Astro.props
---
<!-- Tag Component by Stephan @ https://tailwindcomponents.com/components/taglabel -->
<div class="m-auto text-sm">
    <div class="inline-block relative py-1 text-xs">
        <div class="absolute inset-0 fill-sky-200 dark:fill-cyan-700 flex">
            <svg height="100%" viewBox="0 0 50 100">
                <path
                    d="M49.9,0a17.1,17.1,0,0,0-12,5L5,37.9A17,17,0,0,0,5,62L37.9,94.9a17.1,17.1,0,0,0,12,5ZM25.4,59.4a9.5,9.5,0,1,1,9.5-9.5A9.5,9.5,0,0,1,25.4,59.4Z" />
            </svg>
            <div class="flex-grow h-full -ml-px bg-sky-200 dark:bg-cyan-700 rounded-md rounded-l-none"></div>
        </div>
        <span class="relative text-sky-500 dark:text-cyan-200 uppercase pr-px">
          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href=`/series/${series}` class="text-sky-600 dark:text-cyan-300 decoration-dashed decoration-indigo-200 font-semibold">{series}</a> #{seriesNum}<span>&nbsp;</span>
        </span>
    </div>
</div>