---
import ThemeToggleBtn from '@components/ThemeToggleBtn.astro';
import LanguageBtn from '@components/LanguageBtn.astro';
const { otherLang = '', ...rest } = Astro.props
---

<div class="fixed bottom-2 right-2 flex flex-col-reverse items-end gap-y-1 text-black dark:text-white">
    <button class="peer w-11 h-11 bg-slate-200 dark:bg-slate-800 rounded-full text-center">O</button>
    <div class="flex flex-col-reverse gap-y-1 opacity-0 invisible peer-focus:visible peer-focus:opacity-100 duration-200">
        <button onclick="scrollToF('#top')" class="w-11 h-11 rounded-full bg-slate-200 dark:bg-slate-800">T</button>
        <button onclick="scrollToF('footer')" class="w-11 h-11 rounded-full bg-slate-200 dark:bg-slate-800">B</button>
        <ThemeToggleBtn class="" />
        {otherLang && <LanguageBtn otherLang={otherLang} />}
    </div>
</div>
<script is:inline>
    function scrollToF(target) {
        document.querySelector(target)?.scrollIntoView({behavior: 'smooth', block: 'end', inline: 'nearest'})
        console.log(target)
    }
</script>