---
import ThemeToggleBtn from '@components/ThemeToggleBtn.astro'
import LanguageBtn from '@components/LanguageBtn.astro'
const { otherLang = '' } = Astro.props
---

<div
	class="fixed bottom-2 right-2 z-50 flex flex-col-reverse items-center gap-y-1 text-black dark:text-white"
>
	<button
		id="siteCrtlToggleBtn"
		class="h-11 w-11 rounded-full bg-slate-300 fill-black stroke-black text-center font-bold shadow-2xl drop-shadow-2xl dark:bg-slate-700 dark:fill-white dark:stroke-white"
	>
		<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
			><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
				id="SVGRepo_tracerCarrier"
				stroke-linecap="round"
				stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
				><path
					d="M10.429 16a2.715 2.715 0 1 1-5.43 0 2.715 2.715 0 0 1 5.43 0zM16 13.286a2.715 2.715 0 1 0 .001 5.429A2.715 2.715 0 0 0 16 13.286zm8.285 0a2.714 2.714 0 1 0 0 5.428 2.714 2.714 0 0 0 0-5.428z"
				></path></g
			></svg
		>
	</button>
	<div
		id="siteCrtlBtns"
		class="invisible flex flex-col-reverse justify-center gap-y-1 opacity-0 duration-200"
	>
		<button
			id="bottomBtn"
			class="text-bold flex h-10 w-10 items-center justify-center rounded-full bg-slate-300 fill-black stroke-black dark:bg-slate-700 dark:fill-white dark:stroke-white"
		>
			<svg
				viewBox="0 0 32.00 32.00"
				class="h-10 w-10"
				xmlns="http://www.w3.org/2000/svg"
				stroke-width="1.984"
				><g id="SVGRepo_bgCarrier1" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier1"
					stroke-linecap="round"
					stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier1"
					><path
						d="M16.003 18.626l7.081-7.081L25 13.46l-8.997 8.998-9.003-9 1.917-1.916z"
					></path></g
				></svg
			>
		</button>
		<button
			id="topBtn"
			class="flex h-10 w-10 rotate-180 items-center justify-center rounded-full bg-slate-300 fill-black stroke-black dark:bg-slate-700 dark:fill-white dark:stroke-white"
		>
			<svg
				viewBox="0 0 32.00 32.00"
				class="h-10 w-10"
				xmlns="http://www.w3.org/2000/svg"
				stroke-width="1.984"
				><g id="SVGRepo_bgCarrier2" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier2"
					stroke-linecap="round"
					stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier2"
					><path
						d="M16.003 18.626l7.081-7.081L25 13.46l-8.997 8.998-9.003-9 1.917-1.916z"
					></path></g
				></svg
			>
		</button>
		<script>
			document.getElementById('topBtn')!.addEventListener('click', () => {
				document
					.querySelector('#top')!
					.scrollIntoView({
						behavior: 'smooth',
						block: 'start',
						inline: 'nearest',
					})
			})
		</script>
		<script>
			document
				.getElementById('bottomBtn')!
				.addEventListener('click', () => {
					document
						.querySelector('#bottom')!
						.scrollIntoView({
							behavior: 'smooth',
							block: 'end',
							inline: 'nearest',
						})
				})
		</script>
		<ThemeToggleBtn class="" />
		{otherLang && <LanguageBtn otherLang={otherLang} />}
	</div>
	<script>
		let btns = document.getElementById('siteCrtlBtns')
		document
			.getElementById('siteCrtlToggleBtn')
			?.addEventListener('click', () => {
				btns?.classList.toggle('invisible')
				btns?.classList.toggle('visible')
				btns?.classList.toggle('opacity-0')
				btns?.classList.toggle('opacity-100')
			})
		document
			.getElementById('siteCrtlToggleBtn')
			?.addEventListener('blur', () => {
				btns?.classList.toggle('invisible')
				btns?.classList.toggle('visible')
				btns?.classList.toggle('opacity-0')
				btns?.classList.toggle('opacity-100')
			})
	</script>
</div>
