---
import BaseHead from '@components/BaseHead.astro'
import Navbar from '@components/Navbar.astro'
import Footer from '@components/Footer.astro'
import SiteManipulationBtn from '@components/SiteManipulationBtn.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
	title: string
	description: string
	otherLang?: string
}

const { title, description, otherLang = '' } = Astro.props
---

<html lang={Astro.currentLocale}>
	<head>
		<BaseHead title={title} description={description} />
		<ViewTransitions />
	</head>
	<body class="h-screen bg-white dark:bg-black">
		<div class="relative min-h-screen">
			<div id="top" class="invisible"></div>
			<Navbar />
			<slot />
			<Footer transition:persist />
			<SiteManipulationBtn otherLang={otherLang} />
			<div id="bottom" class="invisible"></div>
		</div>
	</body>
</html>
